<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--명시해야할 권한 = 위험 권한 = 런타임 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"  /><!--sdk 33부터 분할-->
    <!--다음3개-->
    <!--<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--<uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />-->
    <!--END-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:maxSdkVersion="30" />
    <!--<uses-permission android:name="android.permission.READ_SMS" />-->

    <!--여기만으로 OK-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/><!--오레오 버전 부터 추가된  설치 권한-->
    <uses-permission android:name="android.permission.BLUETOOTH"/><!--핸드폰정보 이름 설정값을 알아오기위한 블루투스 권한-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:requestLegacyExternalStorage="true"
        android:name="com.symbol.sammiforge.view.application.ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/sammi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.SplashScreenActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.symbol.sammiforge.view.activity.MainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.symbol.sammiforge.view.activity.mold.RegRepairPhotoActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.symbol.sammiforge.view.activity.mold.RegRepairPhotoDetailActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                tools:replace="android:resource"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver
            android:name=".view.receiver.StartupReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>